@using AHMSApplicationDemo.Data
@inject ApplicationDbContext _context
@model AHMSApplicationDemo.Models.salles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>salles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLiter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerLiter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerLiter)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class="col-sm-10">
            @{
                var intend = _context.Stores.Find(Model.Store.StoreId);
            }
            @intend.OilName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SallesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
