@model List<AHMSApplicationDemo.ViewModels.AccountViewModels.EditUserInRoleViewModel>
@{
    ViewData["Title"] = "EditUserInRole";
}
@{
    var RoleId = ViewBag.RoleId;
}


<form asp-action="EditUserInRole" asp-controller="account" method="post">
    <div class="card">

        <div class="card-header"><h2>Edit User In Role</h2></div>

        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="card-body">

                <div class="form-check-input">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" />
                    <label asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>

            </div>
        }
        <div class="card-footer">
            <button type="submit" class="btn btn-success" asp-route-RoleId="@RoleId" />Update <button />
            <a asp-action="EditRole" asp-controller="account" class="btn btn-danger" asp-route-RoleId="@ViewBag.RoleId">Cancel</a>
        </div>
    </div>

 
</form>
