@model AHMSApplicationDemo.Models.Dept
@using AHMSApplicationDemo.Data;
@inject ApplicationDbContext _context


@{
   // ApplicationDbContext _context = new ApplicationDbContext();
  
   
    //var obj =  _context.Stores.Find(Model.Store.StoreId);
     ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dept</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLiter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalLiter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerLiter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerLiter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class="col-sm-10">
            @{
                var intend = _context.Stores.Find(Model.Store.StoreId);
            }
            @intend.OilName
          
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeptId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
