@using AHMSApplicationDemo.Data;
@inject ApplicationDbContext _context
@model IEnumerable<AHMSApplicationDemo.Models.Expense>

@{



    ViewData["Title"] = "Index";
}

<h1>Expenses List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>
                    @{
                        var intend = _context.ExpenseTypes.Find(item.ExpTypeId);
                    }
                    @intend.ExpensTypeName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpenseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExpenseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExpenseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTable").DataTable();
        });
    </script>
}
